html{
    height:100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a{
    color:#212121;
    text-decoration: none;
}

a:hover{
    color:#212121;
}

.grey{background-color: #b7b7b7;}
.grey1{background-color: #cecece;}
.grey2{background-color: #a5a5a5;}
.theme_light{background-color: #6acad6;}
.theme_dark{background-color: #2b4254}
.theme{background-color: #47b4c4}


/* header contents */
.logo_img{
    width:4rem;
}

@media (min-width: 1600px) {
    .container{
        min-width:1350px;
    }
}

@media (min-width: 2000px) {
    .container{
        min-width:1700px;
    }
}


@media (min-width: 992px)  {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left:2rem;
        padding-right: 2rem;
    }
    .blog_text{
        padding: 1rem;
    }
    .blog_action{
        text-align: right;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
    .tile{
        padding:0;
        max-height: 400px;
    }
}

@media (min-width: 320px) and (max-width: 992px){
    .blog_text{
        padding: 1.5rem 1.5rem 0 2rem;
    }
    .blog_action{
        text-align: right;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }

    .tile{
        padding:0;
        max-height: 280px;
    }
}

.name{
    font-size: 1.4rem;
}

.cname{
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 800;
    color:#47b4c4;
}

.title{
    color:#a5a5a5;
}

.navi_cn{
    font-family: 'ZCOOL XiaoWei', serif;
    color:#8e8e8e;
    font-weight:600;
    padding-left: 0.1rem;
}

.navbar-light .navbar-toggler{
    border: none;
}

.navbar{
    padding: 2rem 0rem;
}

/*.active{
    border-bottom:2px solid #6acad6;
}*/

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #6acad6;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }




/* footer contents */

.footer{
    width: 100%;
    margin-top: 2rem;
    /*height: 100px;*/
    border-top:1px solid #efefef;
    background-color: #47b4c4;
}

.footer_text{
    /*line-height: 3rem;*/
    font-size:0.9rem;
    color: #fff;
}


/* index main contents */

.contents{
    margin-top: 1rem;
    min-height: 700px;
}



/* blog contents */

.blog_container{
    border:1px solid #efefef;
    margin-bottom:1.8rem;
}

.blog_img{
    max-width: 100%;
    height:auto;
}


.blog_action a {
    font-size: 1.2rem;
    color:#fff;
}

.intro{
    margin-bottom: 1rem;
}

.backtoindex:hover{
    text-decoration: none;
}

.intro_title{
    font-weight: 700;
    display: block;
}

.intro_txt{
    display: block;
    margin-bottom: 0.5rem;
}

.intro_list{
    display: block;
    
}

/*detail page*/

.product_banner{
    width: 100%;
    height: 320px;
    background-color: #454545;
    margin-bottom: 1rem;
    overflow: hidden;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
   